.followers_li{
    color:blue;
    margin-bottom:1% !important;
}

.subscribers_li{
    color:#9f00ff;
    margin-bottom:1%;
}

.donations_li{
    color:grey;
    margin-bottom:1%;
}

.merch_sales_li{
    color:#18cf4f; 
    margin-bottom:1%;
}